
<div id="in">
    <div class="container" id="calc">
        <div class="row pantalla">
            <div class="col">25*4</div>
        </div>
        <div class="row pantalla">
            <div class="col">100</div>
        </div>
        <div class="row teclas">
            <div class="col-9">
                <div class="container" id="teclasnum">
                    <div class="row">
                        <div class="col">9</div>
                        <div class="col">8</div>
                        <div class="col">7</div>
                    </div>
                    <div class="row">
                        <div class="col">6</div>
                        <div class="col">5</div>
                        <div class="col">4</div>
                    </div>
                    <div class="row">
                        <div class="col">3</div>
                        <div class="col">2</div>
                        <div class="col">1</div>
                    </div>
                    <div class="row">
                        <div class="col">.</div>
                        <div class="col">0</div>
                        <div class="col">00</div>
                    </div>
                </div>
            </div>
            <div class="col-3" id="teclasop">
                <div class="container" >
                    <div class="row">DEL</div>
                    <div class="row">/</div>
                    <div class="row">X</div>
                    <div class="row">-</div>
                    <div class="row">+</div>
                    <div class="row">=</div>
                </div>
            </div>
        </div>
    </div>
</div>
